<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>用户更新密码页面</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
</head>
<body>


<div class="m-container-small m-padded-tb-massive" style="max-width: 30em !important;">
    <div class="ui container">
        <div class="ui middle aligned center aligned grid">
            <div class="column">
                <div>
                    <h2 class="ui red image header">
                        <label for="">重置密码</label>
                    </h2>
                    <form action="/updateuser" method="post">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" name="username" placeholder="用户名">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" name="password" placeholder="新密码">
                            </div>
                        </div>

                        <div >
                            <br>

                            <button class="ui blue submit button" onclick="form.submit();">
                                确认
                            </button>
                            <br><br>
                            <a href="/userlogin" style="text-align:center">返回</a>
                        </div>

                    </form>

                    <h2 th:utext="${msg9}"></h2>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>